.App {
  text-align: center;
  background-image: url('./beericon.PNG');
  background-repeat: repeat;
  background-size: 175px 140px;
  height:auto;
  width:100%;
  margin-top: 0;
  min-height: 1500px;
}

.brewery-div {
  width:30%;
  border-radius: 10px;
  background-color: lightblue;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  
  border: thin solid black;
  min-width: 247px;
}

h4 {
  width:100%;
  text-align:center;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 10px;
}

h6{
  width:100%;
  text-align:center;
  margin-top:1px;
}

a {
  text-decoration: none;
  color: blueviolet;
  font-weight: 600;
  font-size: 20px;
}
.address {
  width:80%;
  margin: 0 auto;
}

.breweries-container {
  width:90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  
}

.filter-button {
  display: none;
}

.find-button {
  width: 20%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color:white;
}

.find-button:hover {
  background-color:grey;
  color: black;
}
h1 {
  font-size: 50px;
  width: 100%;
  border-radius: 10px;
  margin-top:75px;
  padding-top: 30px;
}